{% if entities %}

    <script type="text/javascript">
        $(document).ready(function () {
            var columnMeta = [];
            columnMeta.push({});
            {% for column in entities|first.columns %}
            columnMeta.push({columnDescriptorId: '{{ column.columnDescriptorId }}', mData: {{ loop.index }}});
            {%  endfor %}
            columnMeta.push({});

            var dataTablesColumns = [];
            dataTablesColumns.push({ "bVisible": false});
            {% for column in entities|first.columns %}
                dataTablesColumns.push({});
            {%  endfor %}
            dataTablesColumns.push( // Delete-Link
                    { "sName": "ID",
                        "bSearchable": false,
                        "bSortable": false,
                        "mRender": function (foo, bar, dataSource) {
                            return "<a class='table-action-deletelink' href='{{ path(deleteRoute) }}?dtId={{ dtId }}&id=" + dataSource[0] + "'>{{ 'Delete'|trans({}, transScope) }}</a>";
                        }
                    });

            var dtOpts = $.extend({aoColumns: dataTablesColumns}, {{ dtDefaultOpts|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}, {{ dtOpts|json_encode(constant('JSON_PRETTY_PRINT'))|raw }});
            var dteOpts = {
                submitButtonText: "{{ 'Save'|trans({}, transScope) }}",
                cancelButtonText: "{{ 'Cancel'|trans({}, transScope) }}",
                sUpdateURL: '{{ path(updateRoute) }}',
                sDeleteURL: '{{ path(deleteRoute) }}',
                sAddURL: '{{ path(addRoute) }}',
                oDeleteParameters: {dtId: '{{ dtId }}'},
                oUpdateParameters: {dtId: '{{ dtId }}', columnMeta: columnMeta}
            };
            $('#myDtTable').dataTable(dtOpts).makeEditable(dteOpts);
        });
    </script>

{% endif %}


