{% if entities %}
    <table id='myDtTable'>
        <thead>
        <tr>
            <th>ID</th>
            {% for column in entities|first.columns %}
                <th>{{ column.name|trans({}, transScope) }}</th>
            {% endfor %}
            <th>{{ 'Edit'|trans({}, transScope) }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr id="{{ entity.id }}">
                <td class="read_only">{{ entity.id }}</td>
                {% for column in entity.columns %}
                    <td id="td_{{ loop.index }}" class="{{ column.readOnly ? 'read_only' : '' }}">{{ include('twentystepsAutoTablesBundle:AutoTablesExtension:columnValue.html.twig', {column: column}) }}</td>
                {% endfor %}
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button id="btnAddNewRow">{{ 'Add_entry_button'|trans({}, transScope) }}</button>

    {{ include('twentystepsAutoTablesBundle:AutoTablesExtension:formAddNewRow.html.twig') }}

{% endif %}
