{% if entities %}

    <script type="text/javascript">
        $(document).ready(function () {
            var columnMeta = [];
            columnMeta.push({});
            {% for column in entities|first.columns %}
                columnMeta.push({columnDescriptorId: '{{ column.columnDescriptorId }}', mData: {{ loop.index }}});
            {%  endfor %}
            columnMeta.push({});

            var dataTablesColumns = [];
            dataTablesColumns.push({ "bVisible": false});
            {% for column in entities|first.columns %}
                {% if column.type == 'datetime' %}
                    dataTablesColumns.push({type: 'datepicker', datepicker: {
                        dateFormat: "{{ 'date.format'|trans({}, transScope) }}"
                    }});
                {%  else %}
                    dataTablesColumns.push({type: 'text'});
                {% endif %}
            {%  endfor %}
            dataTablesColumns.push( // Delete-Link
                    { "sName": "ID",
                        "bSearchable": false,
                        "bSortable": false
            {#
                        "mRender": function (foo, bar, dataSource) {
                            var id = dataSource[0];
                            //return {{ include('twentystepsAutoTablesBundle:AutoTablesExtension:columnActions.html.twig', {tableId: tableId, deleteRoute: deleteRoute, transScope: transScope}) }};
                            //"<a class='table-action-deletelink' href='{{ path(deleteRoute) }}?tableId={{ tableId }}&id=" + dataSource[0] + "'>{{ 'Delete'|trans({}, transScope) }}</a>";

                        }
                #}
                    });

            var dtOpts = $.extend(true, {aoColumns: dataTablesColumns}, {{ dtDefaultOpts|raw }}, {{ dtOpts|raw }}, {{ dtTagOpts|json_encode(constant('JSON_PRETTY_PRINT'))|raw }});
            var dteOpts = {
                aoColumns: dataTablesColumns,
                submitButtonText: "{{ 'Save'|trans({}, transScope) }}",
                cancelButtonText: "{{ 'Cancel'|trans({}, transScope) }}",
                sUpdateURL: '{{ path(updateRoute) }}',
                sDeleteURL: '{{ path(deleteRoute) }}',
                sAddURL: '{{ path(addRoute) }}',
                oDeleteParameters: {tableId: '{{ tableId }}'},
                oUpdateParameters: {tableId: '{{ tableId }}', columnMeta: columnMeta}
            };
            $('#myDtTable').dataTable(dtOpts).makeEditable(dteOpts);
        });
    </script>

{% endif %}


